<% provide(:title, 'Sign up') %>

<style>

    body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

</style>

<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Sign Up</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<%= form_for(@user, url: signup_path) do |f| %>
					<%= render 'shared/error_messages' %>
						<div class="form-group">
						    <%= f.label :name, class: "cols-sm-2 control-label" %>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
									<%= f.text_field :name, class: "form-control", placeholder: "Enter your Name" %>
								</div>
							</div>
						</div>

						<div class="form-group">
						    <%= f.label :email, class: "cols-sm-2 control-label" %>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
									<%= f.email_field :email, class: "form-control", placeholder: "Enter your Name" %>
								</div>
							</div>
						</div>

						<div class="form-group">
						    <%= f.label :password, class: "cols-sm-2 control-label" %>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
								</div>
							</div>
						</div>

						<div class="form-group">
						    <%= f.label :password_confirmation, "Confirmation", class: "cols-sm-2 control-label" %>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
								</div>
							</div>
						</div>

						<div class="form-group ">
						    <%= f.submit "Create my account", class: "btn btn-primary btn-lg btn-block login-button" %>
						</div>
						<div class="login-register">
				            <a href="index.php">Login</a>
				         </div>
					<% end %>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>