<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#" title="Welcome to my App">
               <%= link_to image_tag("//www.google.com/favicon.ico", style: "max-width:100px; margin-top: 15%;"), root_path, id: "logo" %>
            </a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path, class: "active" %></li>
              <li><%= link_to "Help", help_path %></li>
              
                  <% if logged_in? %>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", '#' %></li>
                    </ul>
                </li>
            </ul>
            
			<form class="navbar-form navbar-right" role="search" method="get" id="searchform" action="">
				<div class="form-group">
					<input name="s" id="s" type="text" class="search-query form-control" autocomplete="off" placeholder="Search...">
				</div>
					<%= link_to "Log out", logout_path, method: "delete" %>
			</form>
			<% else %>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
		</div>

    </div>
</div>